{% extends "base.html" %} {% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-700">Django</span>
                    <span class="mt-1 text-gray-500 text-sm">12 Dec 2024</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
                        Создаем интерфейсы руками питониста и <span class="line-through">не</span> страдаем
                    </h2>
                    <p class="leading-relaxed">Как я делал вменяемую Django админку.</p>
                    <a class="text-blue-500 inline-flex items-center mt-4" href="./posts/pretty_django_admin">
                        Читать далее
                        <img
                            src="static/assets/icons/arrow-right.svg"
                            class="h-4 w-4 mr-2 ml-3"
                            alt="learn more icon"
                        />
                    </a>
                </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-700">Observability</span>
                    <span class="mt-1 text-gray-500 text-sm">12 Jun 2024</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
                        Как я настроил мониторинг для своего проекта
                    </h2>
                    <p class="leading-relaxed">Как я настроил мониторинг для своего проекта.</p>
                    <a class="text-blue-500 inline-flex items-center mt-4">
                        Читать далее
                        <img
                            src="static/assets/icons/arrow-right.svg"
                            class="h-4 w-4 mr-2 ml-3"
                            alt="learn more icon"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
