<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>danfimov</title>
        <link rel="icon" type="image/x-icon" href="static/assets/icons/favicon.ico" />
        {% block head %}
        <!-- Additional scripts and styles -->
        {% endblock %}
        <link rel="stylesheet" href="/static/style/tailwind_output.css" />
        <script defer src="/static/scripts/htmx.min.js"></script>
    </head>
    <body class="flex flex-col min-h-screen justify-between">
        <header class="py-4">
            <div class="container mx-auto flex justify-between items-center">
                <nav class="flex space-x-6">
                    <img src="/static/assets/icons/logo.svg" alt="Logo" class="w-8 h-8" />
                    <ul class="flex space-x-6">
                        <li><a href="/" class="hover:underline">Home</a></li>
                        <li><a href="/posts" class="hover:underline">Articles</a></li>
                        <li><a href="/resume" class="hover:underline">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="flex-grow container mx-auto py-8">
            {% block content %}
            <!-- Blog content will go here -->
            {% endblock %}
        </main>
        <footer class="bg-gray-800 text-white py-4 w-full">
            <div class="text-center">
                <div class="flex justify-center space-x-4 mt-2 mb-2">
                    <a href="https://github.com/danfimov" target="_blank" rel="noopener noreferrer">
                        <img
                            src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg"
                            alt="GitHub"
                            class="w-6 h-6 invert hover:invert-0"
                        />
                    </a>
                    <a href="https://www.linkedin.com/in/danfimov" target="_blank" rel="noopener noreferrer">
                        <img
                            src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/linkedin.svg"
                            alt="LinkedIn"
                            class="w-6 h-6 invert hover:invert-0"
                        />
                    </a>
                </div>
                <p>
                    &copy;<span hx-trigger="load" hx-target="this" hx-get="/current_year" hx-swap="innerHTML">2025</span
                    >, Блог Димы Анфимова
                </p>
            </div>
        </footer>
    </body>
</html>
