---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">What you can find here?</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:language-markdown" title="Blog">
          Humanity creates .md format only for my beautiful blog posts. And you have an opportunity to read them.
        </Feature>
        <Feature icon="mdi:cog" title="Usefull programs">
          I'm a programmer. So I think that this world needs one more todo-app and untitled-project-1 from me.
        </Feature>
        <Feature icon="mdi:chess-rook" title="Chess memes">
          And he sacrificed... THE ROOK!!!<br>
          (and 7 years of his life for that hobby)
        </Feature>
        <Feature icon="mdi:lighthouse" title="Game Reviews">
          I can be your lighthouse in a world of time-killers. Like "Metacritic" but with non-paid opinion.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Random Dashboards">
          Fun fact: today I haven't filled in any rings on my Apple Watch yet. And yesterday. And 24 years straight...
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Dark mode">
          Actually I just love this icon from site template. So it will be here.
          Put star on <a href="https://github.com/markteekman/accessible-astro-starter">template repository</a>!
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Purpose of this site</h2>
    <p class="text-2xl">
      To be honest I could not share information about me on the Internet almost all my life.
      Because somewhere in my head I feel insecure about myself and don't really think that I can be interesting for someone.
      So creation of this site is kind of psychological exercise for me.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>And one more thing</h2>
    <p class="text-2xl">
      Maybe it will be a nice example for someone who find this page in a corner of WWW
      and is feeling something similar now. <br><br>
      Thank you for your attention and have a nice day. Sending you hugs 💛
    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Some random numbers</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="7" title="Followers" sub="On GitHub" />
        <Counter count="Even less" title="Followers" sub="On Instagram" />
        <Counter count="100%" title="Confidence" sub="That I'm cool" />
        <Counter count="14+" title="Months" sub="With psychologist" />
      </div>
    </div>
  </section>
</DefaultLayout>
