---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Yet Another Blog. Made with ❤️ by <a
          href="https://github.com/danfimov">Dima Anfimov</a
        >.
      </p>
    </div>
  </section>
</footer>
